body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4267B2;
    color: white;
    padding: 10px 0;
}

.profile {
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.profile-info p {
    font-size: 18px;
    margin: 10px 0;
}
